*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}


header{
    display: flex;
    background-color: white;
    width: 100%;
    height: 3.12rem;
    align-items: center;
    justify-content: flex-end;
}
.navbar{
    cursor: pointer;
    display: flex;
    margin-right: 3.12rem; 
    padding: 0px;
}

.list-link{
    text-decoration: none;
    color: black;
}

.navbar li{
    margin-right: 1.56rem;
}

.navbar .list-link{
    position: relative;
    color: black;
    text-decoration: none;
    padding: 7px 0;
    font-weight: 500;
}

.navbar .list-link:hover{
    color: #4897D8;
}

.navbar .list-link::after{
    content: '';
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    transform-origin: right;
    height: 2px;
    background: #4897D8;
    transform: scaleX(0);
    transition: transform .4s;
}

.navbar .list-link:hover::after{
    transform: scaleX(1); 
    transform-origin: left;
    left: 0;
    width: 100%;
}


body{
    background-color: #F7F8FC;
    /* height: 500px; */
}

.wrap{
    display: flex;
    justify-content: center;
}
.container1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 15.62rem;
    width: 71.87rem;
    margin-top: 2.18rem;
    /* margin-left: 50px; */
    /* margin : 50px; */
    background-color: white;
}

.profile-wrap{
    /* justify-content: center; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.pict{
    padding-left: 0.62rem;
}

.profile{
    margin-left: 0.93rem;
    margin-bottom: 3.12rem;
}


.profile h5{
    margin-left: 0.12rem;
    margin-top: 0.62rem;
    font-weight: 100;
}

.tombol{
    margin-top: 3.75rem;
}

.kontak{
    padding: 0.56rem 0.87rem;
    background-color: #0000FA;
    border-radius: 0.18rem;
    color: white;
}

.kontak:hover{
    color: black;
    opacity: 0.7;
}

.resume{
    margin-left: 0.93rem;
    border-radius: 3px;
    padding: 9px 14px;
    border: 1px solid #6B8859;
    color: #6B8859;
}

.resume:hover{
    color: #5e754f;
    opacity: 0.4;
}


.line{
    border: 1px solid black;
    height: 8.12rem;
    width: 0px;
    margin-right: 1.25rem;
}

.bio{
    display: flex;
    flex-direction: column;
    color: rgb(0,0,0);
    line-height: 1.56rem;
    font-weight: 1.56rem;
}

.content{
    display:flex;
}

.data{
    line-height: 1.56rem;
    margin-bottom: 0.62rem;
    margin-right: 18.75rem;
}

.wrap-input{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}
.container2{
    display: flex;
    /* justify-content: space-around; */
    flex-direction: column;
    height: 31.25rem;
    width: 71.87rem;
    margin-top: 2.18rem;
    background-color: white;
}

.buttn{
    cursor: pointer;
    background-color: #3A7815;
    color: white;
}

.buttn:hover {
    color: black;
    background-color: #3A7815;
    opacity: 0.9;
}

@media screen and (max-width: 487px) {
    
}
