*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}



.tutorial{
    font-size: 1.56rem;
}

footer{
    height: 3.12rem;
    width: 100%;
    background-color: #E2E3E5;
    display: grid;
    align-content: center;
}

.foot{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding: 0px 6.25rem;
}

@media screen and (max-width: 487px) {
    
}
